{{#each cards}}
<div class="outlinebox">
  <div class="outlinecontrols">
    <a class="deletebutton" href='/api/v1/sensors/delete?device={{name}}'>&#10005</a>
    <h1>{{static.templateprofile}}</h1>
    <p>{{name}}<p>
    <a href="javascript:var t=prompt('','{{../topic}}');">Get DeviceID</a>
    <div class="uparrow">&#x25B2;</div>
    <div class="numberval">{{current}}</div>
    <div class="downarrow">&#x25BC;</div>
  </div>
  <div class="outlinefooter">
  </div>
</div>
{{/each}}
<div onclick="location.href='/newdevice';" style="cursor: pointer;"
 class="outlinebox newoutlinebox">
  <div class="outlinecontrols">
    <h1>new</h1>
    <div class="numberval" style="font-size:120px;margin-top:-40px">+</div>
  </div>
  <div class="outlinefooter">
  </div>
</div>
