<div class="flex-container">
  <div class="oauthprompt">
    <h3>Create New Device</h3>
    <div style="display:none" id="currenttemplate">{{template}}</div>
    <span>Template:</span>
    <select id=devicetemplateselect>
      {{#each templates}}
      <option value={{name}}>{{name}}</option>
      {{/each}}
      <option value="modifytemplates">Modify templates</option>
    </select>
    <form action="api/v1/sensors?redirect=true" method=POST>
      {{#each options}}
      <div><div class="inputitem">
        <span>{{name}}: </span>
        <input name={{name}} type=text class=holo />
      </div></div>
      {{/each}}
      <button>Submit</button>
    </form>
  </div>
  <script src="/public/newdevice.js"></script>
</div>
