<div class="flex-container">
  <div class="oauthprompt newdeviceprompt">
    <h3>Create New Device</h3>
    <div style="display:none" id="currenttemplate">{{template}}</div>
    <form action="api/v1/sensors?redirect=true" method=POST>
      <span>Type:</span>
      <select name="templateprofile" id=devicetemplateselect>
        {{#each templates}}
        <option value={{name}}>{{name}}</option>
        {{/each}}
      </select>
      <button id="deletetemplate" title="Remove Device Type">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <button id="edittemplates" title="Device Type Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
      <button id="addnewtemplate" title="New Device Type">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      {{#each options}}
      <div><div class="inputitem">
        <span>{{name}}: </span>
        <input name={{name}} type=text class=holo />
      </div></div>
      {{else}}
      <br>
      {{/each}}
      <button id="backbutton">Cancel</button>
      <button style="float:right;">Create</button>
    </form>
  </div>
  <script src="/public/newdevice.js"></script>
</div>
